
  tester:
    image: "IMAGE_REGISTRY/tester:latest"
    volumes:
      - ./scenarios/root_domain/:/opt/
    depends_on:
      - identity
      - supervisor
      - repository
      - plugin
      - secret

